// Colors
// ----------------------------------------------------------------------
.color-default {
  color: var(--whimsy-highlight-default);
}

.color-purple {
  color: var(--whimsy-highlight-purple);
}

.color-red {
  color: var(--whimsy-highlight-red);
}

.color-yellow {
  color: var(--whimsy-highlight-yellow);
}

.color-blue {
  color: var(--whimsy-highlight-blue);
}

.color-green {
  color: var(--whimsy-highlight-green);
}

.color-orange {
  color: var(--whimsy-highlight-orange);
}

.color-pink {
  color: var(--whimsy-highlight-pink);
}

.color-gray {
  color: var(--whimsy-highlight-gray);
}

.color-white {
  color: var(--white);
}

.color-gray-200 {
  color: var(--gray-200);
}

.color-gray-300 {
  color: var(--gray-300);
}

.color-gray-400 {
  color: var(--gray-400);
}

.color-gray-500 {
  color: var(--gray-500);
}

.color-gray-600 {
  color: var(--gray-600);
}

.color-gray-700 {
  color: var(--gray-700);
}

.color-gray-800 {
  color: var(--gray-800);
}

.color-gray-900 {
  color: var(--gray-900);
}

.color-black {
  color: var(--black);
}

// Background
// ----------------------------------------------------------------------
.bg-default {
  background-color: var(--whimsy-highlight-default);
}

.bg-purple {
  background-color: var(--whimsy-highlight-purple);
}

.bg-red {
  background-color: var(--whimsy-highlight-red);
}

.bg-yellow {
  background-color: var(--whimsy-highlight-yellow);
}

.bg-blue {
  background-color: var(--whimsy-highlight-blue);
}

.bg-green {
  background-color: var(--whimsy-highlight-green);
}

.bg-orange {
  background-color: var(--whimsy-highlight-orange);
}

.bg-pink {
  background-color: var(--whimsy-highlight-pink);
}

.bg-gray {
  background-color: var(--whimsy-highlight-gray);
}

.bg-white {
  background-color: var(--white);
}

.bg-gray-200 {
  background-color: var(--gray-200);
}

.bg-gray-300 {
  background-color: var(--gray-300);
}

.bg-gray-400 {
  background-color: var(--gray-400);
}

.bg-gray-500 {
  background-color: var(--gray-500);
}

.bg-gray-600 {
  background-color: var(--gray-600);
}

.bg-gray-700 {
  background-color: var(--gray-700);
}

.bg-gray-800 {
  background-color: var(--gray-800);
}

.bg-gray-900 {
  background-color: var(--gray-900);
}

.bg-black {
  background-color: var(--black);
}
