// Utils
// ----------------------------------------------------------------------
// Opacity
.opacity-0_8 {
  opacity: 0.8;
}

.opacity-0_4 {
  opacity: 0.4;
}

// Miscelaneous
// ----------------------------------------------------------------------
.invisible {
  visibility: hidden;
}

// Cursor
// ----------------------------------------------------------------------
.cursor-pointer,
.clickable {
  cursor: pointer;
}
