// Sizing
// ----------------------------------------------------------------------
// Width
.w-100 {
  width: 100%;
}

.w-200px {
  width: 200px;
}

.min-w-50 {
  min-width: 50%;
}

.mw-25 {
  max-width: 25%;
}

.mw-50 {
  max-width: 50%;
}

.mw-75 {
  max-width: 75%;
}

.mw-100 {
  max-width: 100%;
}

.mw-600px {
  max-width: 600px;
}

// Height
// ----------------------------------------------------------------------
.h-100 {
  height: 100%;
}

.h-200px {
  height: 200px;
}

.h-4_333rem {
  height: 4.333rem;
}

.h-2_5rem {
  height: 2.5rem;
}

.mh-300px {
  max-height: 300px;
}

.min-h-300px {
  min-height: 300px;
}
