/* Whimsy Editor Styles */
.whimsy-editor {
  position: relative;
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
  border: 0.0625em solid var(--border-color);
  padding: calc(var(--general-spacing) * 1.25) var(--general-spacing);
  border-radius: var(--border-radius);
}

/* ProseMirror Styles */
.whimsy-editor .ProseMirror {
  outline: none;
  font-size: var(--base-font);
  line-height: calc(var(--base-font) * 1.5);
}

.whimsy-editor .ProseMirror > :first-child {
  margin-top: 0;
}

.whimsy-editor .ProseMirror .is-editor-empty:first-child::before,
.whimsy-editor .ProseMirror .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: var(--font-muted-color);
  opacity: 0.3;
  pointer-events: none;
  height: 0;
}

/* Heading Styles */
.whimsy-editor h1.heading {
  font-size: 2.6666667em;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.8333333em;
  line-height: 1;
}

.whimsy-editor h2.heading {
  font-size: 1.6666667em;
  font-weight: 400;
  margin-top: 1.8666667em;
  margin-bottom: 1.0666667em;
  line-height: 1.3333333;
}

.whimsy-editor h3.heading {
  font-size: 1.3333333em;
  font-weight: 400;
  margin-top: 1.6666667em;
  margin-bottom: 0.6666667em;
  line-height: 1.5;
}

/* Paragraph Styles */
.whimsy-editor p.paragraph {
  font-weight: 400;
  margin-top: 1.3333333em;
  margin-bottom: 1.3333333em;
}

/* List Styles */
.whimsy-editor .bullet-list,
.whimsy-editor .ordered-list {
  list-style-position: outside;
  line-height: 0.75em;

  &.bullet-list {
    list-style-type: disc;
  }

  &.ordered-list {
    list-style-type: decimal;
  }

  .list-item {
    line-height: 1.5;
    margin-bottom: var(--general-spacing);
  }
}

/* Blockquote Styles */
.whimsy-editor .blockquote {
  font-size: 1.125em;
  line-height: 1.7777778;
  margin-top: 1.6666667em;
  margin-bottom: 1.6666667em;
  padding-left: 1em;
  border: 0.0625em solid var(--font-muted-color);
  border-left-width: 0.25em;
}

/* Code Block Styles */
.whimsy-editor .code-block,
.whimsy-editor .code {
  border-radius: var(--border-radius);
  font-size: 0.875em;
  line-height: 1.25em;

  &.code-block {
    background-color: var(--code-bg-color);
    color: var(--font-color);
    padding: var(--general-spacing);
  }

  &.code {
    background-color: var(--code-bg-color);
    color: var(--font-color);
    padding: calc(var(--general-spacing) * 0.5);
  }
}

/* Horizontal Rule Styles */
.whimsy-editor .horizontal-rule {
  margin-top: var(--general-spacing);
  margin-bottom: var(--general-spacing);
  border-top: 0.0625em solid var(--border-color);
}

/* Link Styles */
.whimsy-editor .link {
  color: var(--secondary);
  text-decoration: underline;
  text-underline-offset: 0.25em;
  cursor: pointer;
}

/* Task List Styles */
.whimsy-editor .task-list {
  padding-left: var(--general-spacing);

  &__item {
    display: flex;
    align-items: center;
    margin-top: var(--general-spacing);
    margin-bottom: var(--general-spacing);

    .paragraph {
      margin: 0;
    }
  }
}

/* Custom TODO list checkboxes – shoutout to this awesome tutorial: https://moderncss.dev/pure-css-custom-checkbox-style/ */

ul[data-type="taskList"] li > label {
  margin-right: 0.2em;
  user-select: none;
}

@media screen and (max-width: 768px) {
  ul[data-type="taskList"] li > label {
    margin-right: 0.5em;
  }
}

ul[data-type="taskList"] li > label input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--bg-color);
  margin: 0;
  cursor: pointer;
  width: 1.2em;
  height: 1.2em;
  position: relative;
  border: 2px solid var(--font-color);
  margin-right: 0.3em;
  display: grid;
  place-content: center;

  &:hover {
    background-color: var(--gray-200);
  }

  &:active {
    background-color: var(--gray-300);
  }

  &::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em;
    transform-origin: center;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  &:checked::before {
    transform: scale(1);
  }
}

ul[data-type="taskList"] li[data-checked="true"] > div > p {
  color: var(--font-muted-color); /* Changed color to font-muted-color */
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.whimsy-btn {
  padding: var(--general-spacing);
  border: 0;
  cursor: pointer;
  outline: none;
  background-color: var(--bg-color);
  display: flex;

  &:hover {
    background-color: var(--gray-300);
  }

  &.active {
    background-color: var(--gray-300);
  }
}

.command-menu {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--border-color);
  border-radius: 0.125em;
  height: 200px;
  overflow: auto;

  &__container {
    display: flex;
    cursor: pointer;
    gap: calc(var(--general-spacing) * 0.2);
    padding: calc(var(--general-spacing) * 0.67)
      calc(var(--general-spacing) * 0.4166);

    &.active {
      background-color: var(--gray-400);
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: calc(var(--general-spacing) * 0.2);
      text-align: left;
      flex: 1;
    }
  }
}

.bubble-menu {
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--border-color);
  border-radius: 0.125rem;
}

.node-selector {
  position: relative;

  &__menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--gray-200);
    border: 1px solid var(--border-color);
    margin-top: var(--general-spacing);
    margin-bottom: var(--general-spacing);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
}

.link-selector {
  position: relative;

  &__form {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0;
    background-color: var(--gray-200);
    border: 1px solid var(--border-color);
    margin-top: var(--general-spacing);
    margin-bottom: var(--general-spacing);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);

    &-input {
      flex: 1;
      font-size: 0.875rem;
      background-color: var(--bg-color);
      outline: none;
    }
  }
}
