.whimsy-editor {
  --white: #fff;
  --gray-200: #f8f9fa;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --black: #000;

  --bg-color: #fff;
  --border-color: #dee2e6;
  --general-spacing: 24px;

  position: relative;
  background-color: var(--bg-color);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border: 1px solid var(--border-color);
  padding: var(--general-spacing);
  border-radius: 0.5rem;
}

.bubble-menu {
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border: 1px solid var(--border-color);
  border-radius: 0.125rem;
}

.whimsy-btn {
  padding: var(--general-spacing);
  border: 0;
  cursor: pointer;
  outline: none;
  background-color: var(--bg-color);
  display: flex;

  &:hover {
    background-color: var(--gray-300);
  }

  &.active {
    background-color: var(--gray-300);
  }
}

.node-selector {
  position: relative;

  &__menu {
    display: flex;
    flex-direction: column;
    gap: var(--general-spacing);
    position: absolute;
    background-color: var(--gray-200);
    margin-top: var(--general-spacing);
    margin-bottom: var(--general-spacing);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
}

.link-selector {
  position: relative;

  &__form {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0;
    background-color: var(--gray-200);
    margin-top: var(--general-spacing);
    margin-bottom: var(--general-spacing);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);

    &-input {
      flex: 1;
      font-size: 0.875rem;
      background-color: var(--bg-color);
      outline: none;
    }
  }
}

h1.heading {
  font-size: 2.6666667em;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.8333333em;
  line-height: 1;
}

h2.heading {
  font-size: 1.6666667em;
  font-weight: 400;
  margin-top: 1.8666667em;
  margin-bottom: 1.0666667em;
  line-height: 1.3333333;
}

h3.heading {
  font-size: 1.3333333em;
  font-weight: 400;
  margin-top: 1.6666667em;
  margin-bottom: 0.6666667em;
  line-height: 1.5;
}

p.paragraph {
  font-weight: 400;
  margin-top: 1.3333333em;
  margin-bottom: 1.3333333em;
}

.bullet-list {
  list-style-type: disc;
  list-style-position: outside;
  line-height: 0.75rem;

  p.paragraph {
    margin: 0;
  }
}

.ordered-list {
  list-style-type: decimal;
  list-style-position: outside;
  line-height: 0.75rem;

  p.paragraph {
    margin: 0;
  }
}

.list-item {
  line-height: 1.5;
  margin-bottom: var(--general-spacing);
}

.blockquote {
  font-size: 1.125rem;
  line-height: 1.7777778;
  margin-top: 1.6666667em;
  margin-bottom: 1.6666667em;
  padding-left: 1em;
  border: 0px solid var(--gray-900);
  border-left-width: 4px;
}

.code-block {
  border-radius: 0.125rem;
  background-color: var(--gray-200);
  padding: var(--general-spacing);
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--gray-700);
}

.code {
  border-radius: 0.125rem;
  background-color: var(--gray-300);
  padding: calc(var(--general-spacing) * 0.25);
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--gray-800);
}

.horizontal-rule {
  margin-top: var(--general-spacing);
  margin-bottom: var(--general-spacing);
  border-top: 0.5px solid var(--gray-500);
}

.link {
  color: var(--gray-600);
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
}

.task-list {
  padding-left: var(--general-spacing);

  &__item {
    display: flex;
    align-items: center;
    margin-top: var(--general-spacing);
    margin-bottom: var(--general-spacing);

    p.paragraph {
      margin: 0;
    }
  }
}

.command-menu {
  display: flex;
  flex-direction: column;
  gap: var(--general-spacing);
  background-color: var(--bg-color);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border: 1px solid var(--border-color);
  border-radius: 0.125rem;
  padding: var(--general-spacing);
  height: 200px;
  overflow: auto;

  &__container {
    display: flex;
    cursor: pointer;

    &.active {
      background-color: var(--gray-400);
    }

    &-item {
      text-align: left;
      flex: 1;
    }
  }
}

.ProseMirror {
  outline: none;
  font-size: 1rem;
  line-height: 1.5rem;
}

.ProseMirror > :first-child {
  margin-top: 0;
}

.ProseMirror .is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: var(--gray-500);
  pointer-events: none;
  height: 0;
}
.ProseMirror .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: hsl(var(--gray-500));
  pointer-events: none;
  height: 0;
}

/* Custom TODO list checkboxes – shoutout to this awesome tutorial: https://moderncss.dev/pure-css-custom-checkbox-style/ */

ul[data-type="taskList"] li > label {
  margin-right: 0.2rem;
  user-select: none;
}

@media screen and (max-width: 768px) {
  ul[data-type="taskList"] li > label {
    margin-right: 0.5rem;
  }
}

ul[data-type="taskList"] li > label input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--bg-color);
  margin: 0;
  cursor: pointer;
  width: 1.2em;
  height: 1.2em;
  position: relative;
  border: 2px solid var(--gray-800);
  margin-right: 0.3rem;
  display: grid;
  place-content: center;

  &:hover {
    background-color: var(--gray-200);
  }

  &:active {
    background-color: var(--gray-300);
  }

  &::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em;
    transform-origin: center;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  &:checked::before {
    transform: scale(1);
  }
}

ul[data-type="taskList"] li[data-checked="true"] > div > p {
  color: var(--gray-500);
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}
