h1.heading {
  font-size: 2.6666667em;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.8333333em;
  line-height: 1;
}

h2.heading {
  font-size: 1.6666667em;
  font-weight: 400;
  margin-top: 1.8666667em;
  margin-bottom: 1.0666667em;
  line-height: 1.3333333;
}

h3.heading {
  font-size: 1.3333333em;
  font-weight: 400;
  margin-top: 1.6666667em;
  margin-bottom: 0.6666667em;
  line-height: 1.5;
}

p.paragraph {
  font-weight: 400;
  margin-top: 1.3333333em;
  margin-bottom: 1.3333333em;
}

.not-prose p.paragraph {
  margin: 0;
}
